In [1]:
# Purchase Date
# Payment Method

In [63]:
import pandas as pd
import os

#Dataframe Visual Settings
pd.set_option('display.max_rows',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth',400)

In [70]:
df = pd.read_csv('AugustChecking.csv',
                 usecols=['Transaction Number','Date','Memo','Amount Debit','Amount Credit'],
                 skiprows=3)

In [71]:
df.fillna({'Amount Debit':0, 'Amount Credit':0},inplace=True)
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
df.sort_values(by=['Date'],ascending=False,ignore_index=True,inplace=True)
df['Memo'].fillna('Default',inplace=True)
df['Transaction Number'] = df['Transaction Number'].apply(lambda x: x.split('**')[1])
# df['Purchase Date'] = pd.to_datetime(df['Purchase Date'], infer_datetime_format=True)
# df['Purchase Date'] = df['Memo'].apply(lambda x: x.split('1574 ')[1])
# df['Memo'] = df['Memo'].apply(lambda x: x.split('*****')[0])

In [72]:
df['Purchase Date'] = df[df['Memo'].str.contains('1574 ',na=False)]['Memo'].apply(lambda x: x.split('1574 ')[1])

In [73]:
df['Purchase Date']

0              NaN
1      08/30 17:35
2              NaN
3      08/30 20:03
4      08/28 00:50
5      08/29 12:12
6      08/30 12:42
7              NaN
8      08/30 23:00
9      08/30 23:15
10     08/31 07:20
11     08/30 08:39
12     08/30 08:39
13     08/30 23:05
14     08/27 11:10
15     08/27 20:25
16             NaN
17     08/26 11:27
18     08/24 20:58
19     08/25 17:27
20     08/23 20:42
21     08/23 16:17
22     08/24 20:46
23     08/24 20:43
24     08/24 03:48
25     08/24 11:14
26     08/24 11:31
27     08/24 11:14
28     08/22 16:16
29             NaN
30             NaN
31             NaN
32     08/21 10:36
33     08/21 10:39
34     08/21 11:08
35     08/21 11:32
36     08/22 15:51
37     08/22 15:00
38     08/22 17:14
39     08/22 17:52
40     08/22 22:49
41     08/23 09:33
42     08/22 11:26
43     08/22 13:29
44     08/23 17:30
45     08/23 10:54
46     08/23 13:58
47             NaN
48     08/20 13:00
49             NaN
50             NaN
51     08/19 10:46
52             NaN
53     08/19 11:27
54     08/20 14:10
55     08/18 22:02
56     08/18 17:41
57     08/18 17:22
58     08/18 17:20
59             NaN
60             NaN
61     08/18 14:05
62     08/14 21:11
63             NaN
64     08/14 20:32
65     08/14 20:57
66     08/15 22:07
67     08/15 22:55
68     08/16 08:33
69     08/13 07:24
70     08/12 13:36
71     08/12 10:31
72     08/11 12:47
73     08/09 19:30
74     08/09 15:00
75             NaN
76     08/07 18:31
77     08/08 22:35
78     08/08 11:18
79     08/08 12:43
80     08/09 19:24
81     08/09 19:05
82             NaN
83     08/06 11:09
84     08/06 20:33
85     08/05 18:20
86             NaN
87             NaN
88             NaN
89             NaN
90             NaN
91     08/01 11:52
92     07/31 23:43
93     08/01 11:43
94     08/01 11:08
95     08/01 11:08
96     08/01 11:52
97             NaN
98     08/01 12:23
99     08/02 19:11
100    08/02 08:20
101    08/02 13:05
102    08/03 13:48
103            NaN
104            NaN
Name: Purchase Date, dtype: object

In [75]:
df.loc[df['Purchase Date'].isna() == False,'Purchase Date'] = \
pd.to_datetime(df[df['Purchase Date'].isna() == False]['Purchase Date'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-08-30 17:35:00

In [69]:
df['Purchase Date']

0                       NaN
1      -2188103100000000000
2                       NaN
3      -2188094220000000000
4      -2188336200000000000
5      -2188208880000000000
6      -2188120680000000000
7                       NaN
8      -2188083600000000000
9      -2188082700000000000
10     -2188053600000000000
11     -2188135260000000000
12     -2188135260000000000
13     -2188083300000000000
14     -2188385400000000000
15     -2188352100000000000
16                      NaN
17     -2188470780000000000
18     -2188609320000000000
19     -2188535580000000000
20     -2188696680000000000
21     -2188712580000000000
22     -2188610040000000000
23     -2188610220000000000
24     -2188671120000000000
25     -2188644360000000000
26     -2188643340000000000
27     -2188644360000000000
28     -2188799040000000000
29                      NaN
30                      NaN
31                      NaN
32     -2188905840000000000
33     -2188905660000000000
34     -2188903920000000000
35     -2188902480000000000
36     -2188800540000000000
37     -2188803600000000000
38     -2188795560000000000
39     -2188793280000000000
40     -2188775460000000000
41     -2188736820000000000
42     -2188816440000000000
43     -2188809060000000000
44     -2188708200000000000
45     -2188731960000000000
46     -2188720920000000000
47                      NaN
48     -2188983600000000000
49                      NaN
50                      NaN
51     -2189078040000000000
52                      NaN
53     -2189075580000000000
54     -2188979400000000000
55     -2189123880000000000
56     -2189139540000000000
57     -2189140680000000000
58     -2189140800000000000
59                      NaN
60                      NaN
61     -2189152500000000000
62     -2189472540000000000
63                      NaN
64     -2189474880000000000
65     -2189473380000000000
66     -2189382780000000000
67     -2189379900000000000
68     -2189345220000000000
69     -2189608560000000000
70     -2189672640000000000
71     -2189683740000000000
72     -2189761980000000000
73     -2189910600000000000
74     -2189926800000000000
75                      NaN
76     -2190086940000000000
77     -2189985900000000000
78     -2190026520000000000
79     -2190021420000000000
80     -2189910960000000000
81     -2189912100000000000
82                      NaN
83     -2190199860000000000
84     -2190166020000000000
85     -2190260400000000000
86                      NaN
87                      NaN
88                      NaN
89                      NaN
90                      NaN
91     -2190629280000000000
92     -2190673020000000000
93     -2190629820000000000
94     -2190631920000000000
95     -2190631920000000000
96     -2190629280000000000
97                      NaN
98     -2190627420000000000
99     -2190516540000000000
100    -2190555600000000000
101    -2190538500000000000
102    -2190449520000000000
103                     NaN
104                     NaN
Name: Purchase Date, dtype: object

In [54]:
df.loc[df['Purchase Date'].str.contains('2020',na=False),'Purchase Date'] = \
pd.to_datetime(df[df['Purchase Date'].str.contains('2020',na=False)]['Purchase Date'], format='%m/%d/%Y')

In [56]:
df[df['Purchase Date'].isna()]['Purchase Date'] = \
pd.to_datetime(df[df['Purchase Date'].isna()]['Date'], format=''

0      NaN
1      NaN
13     NaN
16     NaN
44     NaN
45     NaN
46     NaN
47     NaN
49     NaN
50     NaN
54     NaN
60     NaN
61     NaN
68     NaN
75     NaN
82     NaN
85     NaN
86     NaN
88     NaN
89     NaN
90     NaN
91     NaN
92     NaN
104    NaN
Name: Purchase Date, dtype: object

In [17]:
df['Purchase Date'] = df[df['Memo'].str.contains('1574 ',na=False)]['Memo'].apply(lambda x: x.split('1574 ')[1])

In [21]:
df.loc[df['Purchase Date'].isna(),'Purchase Date'] = df['Date'].copy()

In [24]:
df['Date']

0      8/31/2020
1      8/31/2020
2      8/31/2020
3      8/31/2020
4      8/31/2020
5      8/31/2020
6      8/31/2020
7      8/31/2020
8      8/31/2020
9      8/31/2020
10     8/31/2020
11     8/31/2020
12     8/31/2020
13     8/31/2020
14     8/28/2020
15     8/28/2020
16     8/28/2020
17     8/27/2020
18     8/26/2020
19     8/26/2020
20     8/25/2020
21     8/25/2020
22     8/25/2020
23     8/25/2020
24     8/25/2020
25     8/25/2020
26     8/25/2020
27     8/25/2020
28     8/24/2020
29     8/24/2020
30     8/24/2020
31     8/24/2020
32     8/24/2020
33     8/24/2020
34     8/24/2020
35     8/24/2020
36     8/24/2020
37     8/24/2020
38     8/24/2020
39     8/24/2020
40     8/24/2020
41     8/24/2020
42     8/24/2020
43     8/24/2020
44     8/24/2020
45     8/24/2020
46     8/24/2020
47     8/21/2020
48     8/21/2020
49     8/21/2020
50     8/21/2020
51     8/20/2020
52     8/20/2020
53     8/20/2020
54     8/20/2020
55     8/19/2020
56     8/19/2020
57     8/19/2020
58     8/19/2020
59     8/19/2020
60     8/19/2020
61     8/19/2020
62     8/17/2020
63     8/17/2020
64     8/17/2020
65     8/17/2020
66     8/17/2020
67     8/17/2020
68     8/17/2020
69     8/13/2020
70     8/12/2020
71     8/12/2020
72     8/11/2020
73     8/11/2020
74     8/11/2020
75     8/11/2020
76     8/10/2020
77     8/10/2020
78     8/10/2020
79     8/10/2020
80     8/10/2020
81     8/10/2020
82      8/7/2020
83      8/7/2020
84      8/7/2020
85      8/6/2020
86      8/6/2020
87      8/6/2020
88      8/6/2020
89      8/5/2020
90      8/4/2020
91      8/3/2020
92      8/3/2020
93      8/3/2020
94      8/3/2020
95      8/3/2020
96      8/3/2020
97      8/3/2020
98      8/3/2020
99      8/3/2020
100     8/3/2020
101     8/3/2020
102     8/3/2020
103     8/3/2020
104     8/3/2020
Name: Date, dtype: object

In [23]:
df.loc[df['Purchase Date'].str.contains('1574 ',na=False),'Purchase Date']

0        8/31/2020
1        8/31/2020
2      08/30 08:39
3      08/30 08:39
4      08/31 07:20
5      08/30 23:15
6      08/30 23:05
7      08/30 23:00
8      08/30 17:35
9      08/30 12:42
10     08/29 12:12
11     08/28 00:50
12     08/30 20:03
13       8/31/2020
14     08/27 11:10
15     08/27 20:25
16       8/28/2020
17     08/26 11:27
18     08/24 20:58
19     08/25 17:27
20     08/24 11:31
21     08/24 11:14
22     08/24 11:14
23     08/24 03:48
24     08/23 20:42
25     08/24 20:46
26     08/24 20:43
27     08/23 16:17
28     08/23 10:54
29     08/23 17:30
30     08/23 13:58
31     08/22 13:29
32     08/22 11:26
33     08/23 09:33
34     08/22 22:49
35     08/22 17:52
36     08/22 17:14
37     08/22 16:16
38     08/22 15:00
39     08/22 15:51
40     08/21 11:32
41     08/21 11:08
42     08/21 10:39
43     08/21 10:36
44       8/24/2020
45       8/24/2020
46       8/24/2020
47       8/21/2020
48     08/20 13:00
49       8/21/2020
50       8/21/2020
51     08/20 14:10
52     08/19 11:27
53     08/19 10:46
54       8/20/2020
55     08/18 14:05
56     08/18 22:02
57     08/18 17:41
58     08/18 17:22
59     08/18 17:20
60       8/19/2020
61       8/19/2020
62     08/16 08:33
63     08/15 22:55
64     08/15 22:07
65     08/14 21:11
66     08/14 20:57
67     08/14 20:32
68       8/17/2020
69     08/13 07:24
70     08/12 13:36
71     08/12 10:31
72     08/11 12:47
73     08/09 19:30
74     08/09 15:00
75       8/11/2020
76     08/09 19:24
77     08/09 19:05
78     08/08 12:43
79     08/08 11:18
80     08/08 22:35
81     08/07 18:31
82        8/7/2020
83     08/06 11:09
84     08/06 20:33
85        8/6/2020
86        8/6/2020
87     08/05 18:20
88        8/6/2020
89        8/5/2020
90        8/4/2020
91        8/3/2020
92        8/3/2020
93     08/03 13:48
94     08/02 13:05
95     08/02 08:20
96     08/02 19:11
97     08/01 12:23
98     08/01 11:52
99     08/01 11:52
100    08/01 11:08
101    08/01 11:08
102    08/01 11:43
103    07/31 23:43
104       8/3/2020
Name: Purchase Date, dtype: object

In [32]:
df.loc[df['Purchase Date'].str.contains('1574 ',na=False),'Purchase Date'] = \
pd.to_datetime(df[df['Purchase Date'].str.contains(':',na=False)]['Purchase Date'], format='%m/%d/%Y')

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-08-30 08:39:00

In [31]:
type(df['Purchase Date'][2])

str

In [48]:
df['Purchase Date']

0      1598832000000000000
1      1598832000000000000
2              08/30 08:39
3              08/30 08:39
4              08/31 07:20
5              08/30 23:15
6              08/30 23:05
7              08/30 23:00
8              08/30 17:35
9              08/30 12:42
10             08/29 12:12
11             08/28 00:50
12             08/30 20:03
13     1598832000000000000
14             08/27 11:10
15             08/27 20:25
16     1598572800000000000
17             08/26 11:27
18             08/24 20:58
19             08/25 17:27
20             08/24 11:31
21             08/24 11:14
22             08/24 11:14
23             08/24 03:48
24             08/23 20:42
25             08/24 20:46
26             08/24 20:43
27             08/23 16:17
28             08/23 10:54
29             08/23 17:30
30             08/23 13:58
31             08/22 13:29
32             08/22 11:26
33             08/23 09:33
34             08/22 22:49
35             08/22 17:52
36             08/22 17:14
37             08/22 16:16
38             08/22 15:00
39             08/22 15:51
40             08/21 11:32
41             08/21 11:08
42             08/21 10:39
43             08/21 10:36
44     1598227200000000000
45     1598227200000000000
46     1598227200000000000
47     1597968000000000000
48             08/20 13:00
49     1597968000000000000
50     1597968000000000000
51             08/20 14:10
52             08/19 11:27
53             08/19 10:46
54     1597881600000000000
55             08/18 14:05
56             08/18 22:02
57             08/18 17:41
58             08/18 17:22
59             08/18 17:20
60     1597795200000000000
61     1597795200000000000
62             08/16 08:33
63             08/15 22:55
64             08/15 22:07
65             08/14 21:11
66             08/14 20:57
67             08/14 20:32
68     1597622400000000000
69             08/13 07:24
70             08/12 13:36
71             08/12 10:31
72             08/11 12:47
73             08/09 19:30
74             08/09 15:00
75     1597104000000000000
76             08/09 19:24
77             08/09 19:05
78             08/08 12:43
79             08/08 11:18
80             08/08 22:35
81             08/07 18:31
82     1596758400000000000
83             08/06 11:09
84             08/06 20:33
85     1596672000000000000
86     1596672000000000000
87             08/05 18:20
88     1596672000000000000
89     1596585600000000000
90     1596499200000000000
91     1596412800000000000
92     1596412800000000000
93             08/03 13:48
94             08/02 13:05
95             08/02 08:20
96             08/02 19:11
97             08/01 12:23
98             08/01 11:52
99             08/01 11:52
100            08/01 11:08
101            08/01 11:08
102            08/01 11:43
103            07/31 23:43
104    1596412800000000000
Name: Purchase Date, dtype: object

In [41]:
df.loc[df['Purchase Date'].str.contains('2020'),'Purchase Date'] = \
pd.to_datetime(df[df['Purchase Date'].str.contains('2020')]['Purchase Date'],infer_datetime_format=True)

In [47]:
df[df['Purchase Date'].str.contains('2020')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [42]:
df.loc[df['Purchase Date'].str.contains(':'),'Purchase Date'] = \
pd.to_datetime(df[df['Purchase Date'].str.contains(':')]['Purchase Date'],infer_datetime_format=True)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [37]:
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'], format='%Y-%m-%d %I:%M:%S')

ValueError: time data '8/31/2020' does not match format '%Y-%m-%d %I:%M:%S' (match)

In [36]:
df['Purchase Date']

0        8/31/2020
1        8/31/2020
2      08/30 08:39
3      08/30 08:39
4      08/31 07:20
5      08/30 23:15
6      08/30 23:05
7      08/30 23:00
8      08/30 17:35
9      08/30 12:42
10     08/29 12:12
11     08/28 00:50
12     08/30 20:03
13       8/31/2020
14     08/27 11:10
15     08/27 20:25
16       8/28/2020
17     08/26 11:27
18     08/24 20:58
19     08/25 17:27
20     08/24 11:31
21     08/24 11:14
22     08/24 11:14
23     08/24 03:48
24     08/23 20:42
25     08/24 20:46
26     08/24 20:43
27     08/23 16:17
28     08/23 10:54
29     08/23 17:30
30     08/23 13:58
31     08/22 13:29
32     08/22 11:26
33     08/23 09:33
34     08/22 22:49
35     08/22 17:52
36     08/22 17:14
37     08/22 16:16
38     08/22 15:00
39     08/22 15:51
40     08/21 11:32
41     08/21 11:08
42     08/21 10:39
43     08/21 10:36
44       8/24/2020
45       8/24/2020
46       8/24/2020
47       8/21/2020
48     08/20 13:00
49       8/21/2020
50       8/21/2020
51     08/20 14:10
52     08/19 11:27
53     08/19 10:46
54       8/20/2020
55     08/18 14:05
56     08/18 22:02
57     08/18 17:41
58     08/18 17:22
59     08/18 17:20
60       8/19/2020
61       8/19/2020
62     08/16 08:33
63     08/15 22:55
64     08/15 22:07
65     08/14 21:11
66     08/14 20:57
67     08/14 20:32
68       8/17/2020
69     08/13 07:24
70     08/12 13:36
71     08/12 10:31
72     08/11 12:47
73     08/09 19:30
74     08/09 15:00
75       8/11/2020
76     08/09 19:24
77     08/09 19:05
78     08/08 12:43
79     08/08 11:18
80     08/08 22:35
81     08/07 18:31
82        8/7/2020
83     08/06 11:09
84     08/06 20:33
85        8/6/2020
86        8/6/2020
87     08/05 18:20
88        8/6/2020
89        8/5/2020
90        8/4/2020
91        8/3/2020
92        8/3/2020
93     08/03 13:48
94     08/02 13:05
95     08/02 08:20
96     08/02 19:11
97     08/01 12:23
98     08/01 11:52
99     08/01 11:52
100    08/01 11:08
101    08/01 11:08
102    08/01 11:43
103    07/31 23:43
104       8/3/2020
Name: Purchase Date, dtype: object

In [15]:
df[df['Memo'].str.contains('1574 ')]['Memo']

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [16]:
df[df['Memo'].str.contains('1574 ',na=False)]['Memo'].apply(lambda x: x.split('1574 ')[1])

2      08/30 08:39
3      08/30 08:39
4      08/31 07:20
5      08/30 23:15
6      08/30 23:05
7      08/30 23:00
8      08/30 17:35
9      08/30 12:42
10     08/29 12:12
11     08/28 00:50
12     08/30 20:03
14     08/27 11:10
15     08/27 20:25
17     08/26 11:27
18     08/24 20:58
19     08/25 17:27
20     08/24 11:31
21     08/24 11:14
22     08/24 11:14
23     08/24 03:48
24     08/23 20:42
25     08/24 20:46
26     08/24 20:43
27     08/23 16:17
28     08/23 10:54
29     08/23 17:30
30     08/23 13:58
31     08/22 13:29
32     08/22 11:26
33     08/23 09:33
34     08/22 22:49
35     08/22 17:52
36     08/22 17:14
37     08/22 16:16
38     08/22 15:00
39     08/22 15:51
40     08/21 11:32
41     08/21 11:08
42     08/21 10:39
43     08/21 10:36
48     08/20 13:00
51     08/20 14:10
52     08/19 11:27
53     08/19 10:46
55     08/18 14:05
56     08/18 22:02
57     08/18 17:41
58     08/18 17:22
59     08/18 17:20
62     08/16 08:33
63     08/15 22:55
64     08/15 22:07
65     08/14 21:11
66     08/14 20:57
67     08/14 20:32
69     08/13 07:24
70     08/12 13:36
71     08/12 10:31
72     08/11 12:47
73     08/09 19:30
74     08/09 15:00
76     08/09 19:24
77     08/09 19:05
78     08/08 12:43
79     08/08 11:18
80     08/08 22:35
81     08/07 18:31
83     08/06 11:09
84     08/06 20:33
87     08/05 18:20
93     08/03 13:48
94     08/02 13:05
95     08/02 08:20
96     08/02 19:11
97     08/01 12:23
98     08/01 11:52
99     08/01 11:52
100    08/01 11:08
101    08/01 11:08
102    08/01 11:43
103    07/31 23:43
Name: Memo, dtype: object

In [5]:
df

                   Transaction Number       Date                                                                       Memo  Amount Debit  Amount Credit
0       DOMINION ENERGY/BILLPAYWALTER 2020-08-31                                                                    COLEMAN       -249.62           0.00
1     POS PURCHASE with PINGIANT 0774 2020-08-31                                      ARLINGTON VA 001*****1574 08/30 17:35        -29.84           0.00
2             INTERNET TRANSFER FROM: 2020-08-31                                                                 DDXXXX5941          0.00         857.21
3                    Person-to-Person 2020-08-31      TransferPAYPAL*Coleman Walter San Jose CACNP TX *****1574 08/30 20:03          0.00          50.96
4      POS PURCHASE Non-PINSQ *NAZRET 2020-08-31                  ETHIOPIA RES BAILEYS CROSS VAIN7400 *****1574 08/28 00:50        -20.34           0.00
5           POS PURCHASE Non-PINCITGO 2020-08-31                                   ARLINGTON VA 360430*****1574 08/29 12:12         -1.50           0.00
6        POS PURCHASE with PINPENROSE 2020-08-31                            SQUARE ARLINGTON VA Square*****1574 08/30 12:42        -26.00           0.00
7         VENMO/PAYMENTWALTER COLEMAN 2020-08-31                                                                    Default       -668.75           0.00
8                        POS PURCHASE 2020-08-31      Non-PINCELEBRATIONS BY RUPA VI ASHBURN VAINC700 *****1574 08/30 23:00       -111.91           0.00
9          POS PURCHASE Non-PINPAYPAL 2020-08-31               *MICROSOFT STORE 402-935-7733 WAINP700 *****1574 08/30 23:15        -69.99           0.00
10       POS PURCHASE Non-PINGoFndMe* 2020-08-31                  Help Dace get Redwood City CAINA500 *****1574 08/31 07:20       -277.00           0.00
11         POS PURCHASE Non-PINPAYPAL 2020-08-31                        *RUSTAMKO 4029357733 CAIN8000 *****1574 08/30 08:39         -5.75           0.00
12    POS PURCHASE Non-PINPAYPAL *EDX 2020-08-31                            INC 402-935-7733 MAIN7400 *****1574 08/30 08:39       -255.00           0.00
13     POS PURCHASE Non-PINBEAR CHASE 2020-08-31                       BREWING COMP BLUEMONT VAIN7200 *****1574 08/30 23:05         -8.57           0.00
14       POS PURCHASE Non-PINADVANCED 2020-08-28                       HEALTH CARE ARLINGTON VA675687 *****1574 08/27 11:10        -50.00           0.00
15        POS PURCHASE with PINHARRIS 2020-08-28                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/27 20:25        -21.69           0.00
16            INTERNET TRANSFER FROM: 2020-08-28                                                                 DDXXXX5941          0.00        1200.00
17       POS PURCHASE Non-PINADVANCED 2020-08-27                       HEALTH CARE ARLINGTON VA654037 *****1574 08/26 11:27        -50.00           0.00
18         POS PURCHASE Non-PINTAJ OF 2020-08-26                             INDIA ARLINGTON VA IN7200*****1574 08/24 20:58        -22.09           0.00
19    POS PURCHASE with PINGIANT 0774 2020-08-26                                      ARLINGTON VA 001*****1574 08/25 17:27        -12.45           0.00
20    POS PURCHASE Non-PINWONDEE SIAM 2020-08-25                                    NEW YORK NY IN6600*****1574 08/23 20:42        -19.53           0.00
21         POS PURCHASE Non-PINLITTLE 2020-08-25                        ITALY PIZZA NEW YORK NY062031 *****1574 08/23 16:17         -3.00           0.00
22        POS PURCHASE with PINHARRIS 2020-08-25                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/24 20:46         -6.14           0.00
23        POS PURCHASE with PINHARRIS 2020-08-25                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/24 20:43        -20.61           0.00
24       POS PURCHASE Non-PINTortas y 2020-08-25                    Tacos La Chiqu Arlington VA007885 *****1574 08/24 03:48        -12.55           0.00
25      POS PURCHASE Non-PINSTARBUCKS 2020-08-25                       STORE 24498 ARLINGTON VAINB500 *****1574 08/24 11:14         -2.28           0.00
26       POS PURCHASE Non-PINADVANCED 2020-08-25                       HEALTH CARE ARLINGTON VA616655 *****1574 08/24 11:31        -50.00           0.00
27    POS PURCHASE Non-PINSTARBUCKS*1 2020-08-25                       STORE 24498 ARLINGTON VAINC600 *****1574 08/24 11:14         -2.28           0.00
28     POS PURCHASE with PINNNT FRONT 2020-08-24                      STREET PI0025 BROOKLYN NY068155 *****1574 08/22 16:16         -2.03           0.00
29        VENMO/CASHOUTWALTER COLEMAN 2020-08-24                                                                    Default          0.00         179.00
30            INTERNET TRANSFER FROM: 2020-08-24                                                                 DDXXXX5941          0.00         160.86
31            INTERNET TRANSFER FROM: 2020-08-24                                                                 DDXXXX5941          0.00         100.00
32     POS PURCHASE Non-PINTHE TAILOR 2020-08-24                       PUBLIC HOUSE NEW YORK NY039309 *****1574 08/21 10:36        -19.61           0.00
33      POS PURCHASE Non-PINSTARBUCKS 2020-08-24                       STORE 24498 ARLINGTON VAINP700 *****1574 08/21 10:39         -2.28           0.00
34                       POS PURCHASE 2020-08-24       Non-PINMTA*METROCARD MACHINE NEW YORK NYIN2000 *****1574 08/21 11:08        -10.00           0.00
35       POS PURCHASE Non-PINADVANCED 2020-08-24                       HEALTH CARE ARLINGTON VA867644 *****1574 08/21 11:32        -50.00           0.00
36     POS PURCHASE with PINNNT FRONT 2020-08-24                      STREET PI0023 BROOKLYN NY068155 *****1574 08/22 15:51        -10.09           0.00
37      POS PURCHASE Non-PINUBER TRIP 2020-08-24                               HELP.UBER.COM CA IN7900*****1574 08/22 15:00        -23.49           0.00
38      POS PURCHASE with PINRITE AID 2020-08-24                          STORE - 3110 NEW YORK NY001 *****1574 08/22 17:14         -2.82           0.00
39                       POS PURCHASE 2020-08-24  Non-PINPRICELN*DAYS INN BY WY 800-774-2354 CTIN8700 *****1574 08/22 17:52       -186.04           0.00
40        POS PURCHASE Non-PINSQ *VAN 2020-08-24                        LEEUWEN ICE NEW YORK NYINC600 *****1574 08/22 22:49        -11.53           0.00
41       POS PURCHASE with PINSY8 THE 2020-08-24                    KOSHER MARK0002 NEW YORK NY0000B8 *****1574 08/23 09:33        -12.16           0.00
42                       POS PURCHASE 2020-08-24       Non-PINMTA*METROCARD MACHINE NEW YORK NYIN1410 *****1574 08/22 11:26         -2.00           0.00
43      POS PURCHASE Non-PINMANHATTAN 2020-08-24                              DINER NEW YORK NY 020632*****1574 08/22 13:29        -23.03           0.00
44      POS PURCHASE Non-PINSQ *HOLEY 2020-08-24                              CREAM New York NY INB900*****1574 08/23 17:30         -5.23           0.00
45     POS PURCHASE Non-PINTAL BAGELS 2020-08-24                                    NEW YORK NY 585831*****1574 08/23 10:54        -16.59           0.00
46    POS PURCHASE Non-PINSQ *CHALAIT 2020-08-24                                    New York NY INC100*****1574 08/23 13:58         -5.36           0.00
47   INTERNET TRANSFER TO: DDXXXX5941 2020-08-21                                                                    Default      -1977.87           0.00
48       POS PURCHASE Non-PINADVANCED 2020-08-21                       HEALTH CARE ARLINGTON VA704528 *****1574 08/20 13:00        -50.00           0.00
49       ACCENTURE FEDERA/EFTWALTER J 2020-08-21                                                                    COLEMAN          0.00         100.00
50            Accenture Federa/PAYRLL 2020-08-21                                                       DEPColeman, Walter J          0.00        1941.49
51       POS PURCHASE Non-PINVIRGINIA 2020-08-20                    HOSPITAL PARKI ARLINGTON VA605139 *****1574 08/19 10:46         -5.00           0.00
52            INTERNET TRANSFER FROM: 2020-08-20                                                                 DDXXXX5941          0.00         220.00
53       POS PURCHASE Non-PINADVANCED 2020-08-20                       HEALTH CARE ARLINGTON VA671232 *****1574 08/19 11:27        -50.00           0.00
54       POS PURCHASE Non-PINONE STOP 2020-08-20                    AUTO CENTER LL ARLINGTON VA374607 *****1574 08/20 14:10        -32.22           0.00
55    POS PURCHASE Non-PINPP*GOOGLE A 2020-08-19                    MEDIUM CORP 402-935-7733 CAIN1070 *****1574 08/18 22:02         -4.99           0.00
56    POS PURCHASE with PINGIANT 0774 2020-08-19                                      ARLINGTON VA 001*****1574 08/18 17:41        -13.04           0.00
57        POS PURCHASE with PINHARRIS 2020-08-19                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/18 17:22         -5.42           0.00
58        POS PURCHASE with PINHARRIS 2020-08-19                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/18 17:20        -20.14           0.00
59            INTERNET TRANSFER FROM: 2020-08-19                                                                 DDXXXX5941          0.00         139.22
60        VENMO/CASHOUTWALTER COLEMAN 2020-08-19                                                                    Default          0.00          26.30
61         POS PURCHASE Non-PINPAYPAL 2020-08-19                  *AIRBNB HMX5BDZ 4029357733 CAIN7500 *****1574 08/18 14:05       -139.22           0.00
62    POS PURCHASE with PINGIANT 0774 2020-08-17                                      ARLINGTON VA 001*****1574 08/14 21:11         -8.38           0.00
63            INTERNET TRANSFER FROM: 2020-08-17                                                                 DDXXXX5941          0.00         100.00
64    POS PURCHASE with PINGIANT 0774 2020-08-17                                      ARLINGTON VA 001*****1574 08/14 20:32        -12.88           0.00
65        POS PURCHASE with PINHARRIS 2020-08-17                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/14 20:57        -17.48           0.00
66       POS PURCHASE Non-PINDISTRICT 2020-08-17                   MARTIAL ARTS 859-421-1502 VAINB800 *****1574 08/15 22:07       -159.00           0.00
67         POS PURCHASE Non-PINTAJ OF 2020-08-17                             INDIA ARLINGTON VA IN2000*****1574 08/15 22:55        -24.10           0.00
68     POS PURCHASE Non-PINGOOD STUFF 2020-08-17                         EATERY-CC ARLINGTON VA037919 *****1574 08/16 08:33         -6.31           0.00
69    POS PURCHASE with PINGIANT 0774 2020-08-13                                      ARLINGTON VA 001*****1574 08/13 07:24        -14.77           0.00
70     POS PURCHASE Non-PINUNITED AIR 2020-08-12                      01623192326 PAYPAL COM TXIN9200 *****1574 08/12 13:36       -168.20           0.00
71      POS PURCHASE Non-PINARLINGTON 2020-08-12                     METER PARKING ARLINGTON VA694452 *****1574 08/12 10:31         -1.00           0.00
72       POS PURCHASE with PINTHE UPS 2020-08-11                          STORE #0657 ARLINGTON VA105 *****1574 08/11 12:47         -2.95           0.00
73         POS PURCHASE Non-PINWE THE 2020-08-11                             PIZZA ARLINGTON VA 793031*****1574 08/09 19:30        -11.25           0.00
74         POS PURCHASE Non-PINCROWNE 2020-08-11                      PLAZA NATIONAL R ARLINGTON VA69 *****1574 08/09 15:00         -1.69           0.00
75            INTERNET TRANSFER FROM: 2020-08-11                                                                 DDXXXX5941          0.00         195.25
76    POS PURCHASE with PINGIANT 0774 2020-08-10                                      ARLINGTON VA 001*****1574 08/07 18:31         -8.18           0.00
77       POS PURCHASE Non-PINCOLUMBIA 2020-08-10                            PIKE CITGO ARLINGTON VA10 *****1574 08/08 22:35        -32.31           0.00
78                       POS PURCHASE 2020-08-10            Non-PINLONGWOOD21054 610-3885291 PA 119210*****1574 08/08 11:18        -19.40           0.00
79          POS PURCHASE Non-PINCITGO 2020-08-10                                   ARLINGTON VA 351111*****1574 08/08 12:43         -1.50           0.00
80    POS PURCHASE with PINGIANT 0774 2020-08-10                                      ARLINGTON VA 001*****1574 08/09 19:24        -11.20           0.00
81        POS PURCHASE with PINHARRIS 2020-08-10                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/09 19:05        -39.11           0.00
82          Pillar DC/Pillar DCPILLAR 2020-08-07                                                            CHURCH OF WASHI       -337.50           0.00
83    POS PURCHASE Non-PINPUPATELLA - 2020-08-07                                VA ARLINGTON VA 639296*****1574 08/06 11:09        -16.18           0.00
84    POS PURCHASE with PINGIANT 0774 2020-08-07                                      ARLINGTON VA 001*****1574 08/06 20:33         -7.05           0.00
85        POS PURCHASE with PINHARRIS 2020-08-06                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/05 18:20        -20.20           0.00
86            Accenture Federa/PAYRLL 2020-08-06                                                       DEPColeman, Walter J          0.00        2297.79
87             FEDLOANSERVICING/STDNT 2020-08-06                                                         LOANWALTER COLEMAN      -3826.47           0.00
88   INTERNET TRANSFER TO: DDXXXX5941 2020-08-06                                                                    Default      -1607.06           0.00
89            INTERNET TRANSFER FROM: 2020-08-05                                                                 DDXXXX5941          0.00        3826.47
90   VERIZON/PAYMENTRECWALTER COLEMAN 2020-08-04                                                                    Default        -79.99           0.00
91    POS PURCHASE Non-PIN708 BOWLERO 2020-08-03                       ARLINGTON 8 ARLINGTON VA501997 *****1574 08/01 11:52         -9.47           0.00
92      POS PURCHASE Non-PINBORURAMEN 2020-08-03                                   ARLINGTON VA 794503*****1574 07/31 23:43        -21.12           0.00
93    POS PURCHASE with PINGIANT 0774 2020-08-03                                      ARLINGTON VA 001*****1574 08/01 11:43        -17.25           0.00
94      POS PURCHASE Non-PINARLINGTON 2020-08-03                     METER PARKING ARLINGTON VA694452 *****1574 08/01 11:08         -3.50           0.00
95      POS PURCHASE Non-PINARLINGTON 2020-08-03                     METER PARKING ARLINGTON VA694452 *****1574 08/01 11:08         -1.00           0.00
96    POS PURCHASE Non-PIN708 BOWLERO 2020-08-03                       ARLINGTON 8 ARLINGTON VA501997 *****1574 08/01 11:52        -23.51           0.00
97      TOM COLEMAN/BILL PAYMTCOLEMAN 2020-08-03                                                                     WALTER      -1000.00           0.00
98    POS PURCHASE Non-PIN708 BOWLERO 2020-08-03                       ARLINGTON 8 ARLINGTON VA393452 *****1574 08/01 12:23        -25.00           0.00
99        POS PURCHASE with PINHARRIS 2020-08-03                   TEETER #3 950 S ARLINGTON VA999999 *****1574 08/02 19:11        -23.77           0.00
100      POS PURCHASE Non-PINLONGWOOD 2020-08-03                     GARDENS INC 610-3885460 PA301492 *****1574 08/02 08:20        -25.00           0.00
101        POS PURCHASE Non-PINCROWNE 2020-08-03                      PLAZA NATIONAL R ARLINGTON VA69 *****1574 08/02 13:05         -1.69           0.00
102    POS PURCHASE Non-PINAmazon web 2020-08-03                      services aws.amazon.co WAIN9000 *****1574 08/03 13:48        -10.34           0.00
103       VENMO/PAYMENTWALTER COLEMAN 2020-08-03                                                                    Default        -25.00           0.00
104           INTERNET TRANSFER FROM: 2020-08-03                                                                 DDXXXX5941          0.00         100.00

In [ ]:


df['Content'] = df['Transaction Number'] + ' ' + df['Memo']
df['Amount'] = df['Amount Debit'].astype(float) + df['Amount Credit'].astype(float)
df['Category'] = 'Default'
df.drop(df[df['Content'].str.contains("INTERNET TRANSFER",na=False)].index,inplace=True)
df.reset_index(drop=True,inplace=True)
df.drop(['Transaction Number','Memo','Amount Debit','Amount Credit'],
        axis=1,inplace=True)

In [85]:
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'],format = '%m/%d %H:%M')

In [92]:
df['Purchase Date'] = df['Purchase Date']+pd.DateOffset(years=120)

In [93]:
df['Purchase Date']

0                     NaT
1     2020-08-30 17:35:00
2                     NaT
3     2020-08-30 20:03:00
4     2020-08-28 00:50:00
5     2020-08-29 12:12:00
6     2020-08-30 12:42:00
7                     NaT
8     2020-08-30 23:00:00
9     2020-08-30 23:15:00
10    2020-08-31 07:20:00
11    2020-08-30 08:39:00
12    2020-08-30 08:39:00
13    2020-08-30 23:05:00
14    2020-08-27 11:10:00
15    2020-08-27 20:25:00
16                    NaT
17    2020-08-26 11:27:00
18    2020-08-24 20:58:00
19    2020-08-25 17:27:00
20    2020-08-23 20:42:00
21    2020-08-23 16:17:00
22    2020-08-24 20:46:00
23    2020-08-24 20:43:00
24    2020-08-24 03:48:00
25    2020-08-24 11:14:00
26    2020-08-24 11:31:00
27    2020-08-24 11:14:00
28    2020-08-22 16:16:00
29                    NaT
30                    NaT
31                    NaT
32    2020-08-21 10:36:00
33    2020-08-21 10:39:00
34    2020-08-21 11:08:00
35    2020-08-21 11:32:00
36    2020-08-22 15:51:00
37    2020-08-22 15:00:00
38    2020-08-22 17:14:00
39    2020-08-22 17:52:00
40    2020-08-22 22:49:00
41    2020-08-23 09:33:00
42    2020-08-22 11:26:00
43    2020-08-22 13:29:00
44    2020-08-23 17:30:00
45    2020-08-23 10:54:00
46    2020-08-23 13:58:00
47                    NaT
48    2020-08-20 13:00:00
49                    NaT
50                    NaT
51    2020-08-19 10:46:00
52                    NaT
53    2020-08-19 11:27:00
54    2020-08-20 14:10:00
55    2020-08-18 22:02:00
56    2020-08-18 17:41:00
57    2020-08-18 17:22:00
58    2020-08-18 17:20:00
59                    NaT
60                    NaT
61    2020-08-18 14:05:00
62    2020-08-14 21:11:00
63                    NaT
64    2020-08-14 20:32:00
65    2020-08-14 20:57:00
66    2020-08-15 22:07:00
67    2020-08-15 22:55:00
68    2020-08-16 08:33:00
69    2020-08-13 07:24:00
70    2020-08-12 13:36:00
71    2020-08-12 10:31:00
72    2020-08-11 12:47:00
73    2020-08-09 19:30:00
74    2020-08-09 15:00:00
75                    NaT
76    2020-08-07 18:31:00
77    2020-08-08 22:35:00
78    2020-08-08 11:18:00
79    2020-08-08 12:43:00
80    2020-08-09 19:24:00
81    2020-08-09 19:05:00
82                    NaT
83    2020-08-06 11:09:00
84    2020-08-06 20:33:00
85    2020-08-05 18:20:00
86                    NaT
87                    NaT
88                    NaT
89                    NaT
90                    NaT
91    2020-08-01 11:52:00
92    2020-07-31 23:43:00
93    2020-08-01 11:43:00
94    2020-08-01 11:08:00
95    2020-08-01 11:08:00
96    2020-08-01 11:52:00
97                    NaT
98    2020-08-01 12:23:00
99    2020-08-02 19:11:00
100   2020-08-02 08:20:00
101   2020-08-02 13:05:00
102   2020-08-03 13:48:00
103                   NaT
104                   NaT
Name: Purchase Date, dtype: datetime64[ns]

In [95]:
pd.to_datetime(df['Date'], format='%Y-%m-%d 00:00:00')

0     2020-08-31
1     2020-08-31
2     2020-08-31
3     2020-08-31
4     2020-08-31
5     2020-08-31
6     2020-08-31
7     2020-08-31
8     2020-08-31
9     2020-08-31
10    2020-08-31
11    2020-08-31
12    2020-08-31
13    2020-08-31
14    2020-08-28
15    2020-08-28
16    2020-08-28
17    2020-08-27
18    2020-08-26
19    2020-08-26
20    2020-08-25
21    2020-08-25
22    2020-08-25
23    2020-08-25
24    2020-08-25
25    2020-08-25
26    2020-08-25
27    2020-08-25
28    2020-08-24
29    2020-08-24
30    2020-08-24
31    2020-08-24
32    2020-08-24
33    2020-08-24
34    2020-08-24
35    2020-08-24
36    2020-08-24
37    2020-08-24
38    2020-08-24
39    2020-08-24
40    2020-08-24
41    2020-08-24
42    2020-08-24
43    2020-08-24
44    2020-08-24
45    2020-08-24
46    2020-08-24
47    2020-08-21
48    2020-08-21
49    2020-08-21
50    2020-08-21
51    2020-08-20
52    2020-08-20
53    2020-08-20
54    2020-08-20
55    2020-08-19
56    2020-08-19
57    2020-08-19
58    2020-08-19
59    2020-08-19
60    2020-08-19
61    2020-08-19
62    2020-08-17
63    2020-08-17
64    2020-08-17
65    2020-08-17
66    2020-08-17
67    2020-08-17
68    2020-08-17
69    2020-08-13
70    2020-08-12
71    2020-08-12
72    2020-08-11
73    2020-08-11
74    2020-08-11
75    2020-08-11
76    2020-08-10
77    2020-08-10
78    2020-08-10
79    2020-08-10
80    2020-08-10
81    2020-08-10
82    2020-08-07
83    2020-08-07
84    2020-08-07
85    2020-08-06
86    2020-08-06
87    2020-08-06
88    2020-08-06
89    2020-08-05
90    2020-08-04
91    2020-08-03
92    2020-08-03
93    2020-08-03
94    2020-08-03
95    2020-08-03
96    2020-08-03
97    2020-08-03
98    2020-08-03
99    2020-08-03
100   2020-08-03
101   2020-08-03
102   2020-08-03
103   2020-08-03
104   2020-08-03
Name: Date, dtype: datetime64[ns]

In [96]:
df['Purchase Date'].isna()

0       True
1      False
2       True
3      False
4      False
5      False
6      False
7       True
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16      True
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29      True
30      True
31      True
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47      True
48     False
49      True
50      True
51     False
52      True
53     False
54     False
55     False
56     False
57     False
58     False
59      True
60      True
61     False
62     False
63      True
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75      True
76     False
77     False
78     False
79     False
80     False
81     False
82      True
83     False
84     False
85     False
86      True
87      True
88      True
89      True
90      True
91     False
92     False
93     False
94     False
95     False
96     False
97      True
98     False
99     False
100    False
101    False
102    False
103     True
104     True
Name: Purchase Date, dtype: bool

In [97]:
df.loc[df['Purchase Date'].isna(),'Purchase Date']

0     NaT
2     NaT
7     NaT
16    NaT
29    NaT
30    NaT
31    NaT
47    NaT
49    NaT
50    NaT
52    NaT
59    NaT
60    NaT
63    NaT
75    NaT
82    NaT
86    NaT
87    NaT
88    NaT
89    NaT
90    NaT
97    NaT
103   NaT
104   NaT
Name: Purchase Date, dtype: datetime64[ns]

In [98]:
pd.to_datetime(df['Date'], format='%Y-%m-%d 00:00:00')

0     2020-08-31
1     2020-08-31
2     2020-08-31
3     2020-08-31
4     2020-08-31
5     2020-08-31
6     2020-08-31
7     2020-08-31
8     2020-08-31
9     2020-08-31
10    2020-08-31
11    2020-08-31
12    2020-08-31
13    2020-08-31
14    2020-08-28
15    2020-08-28
16    2020-08-28
17    2020-08-27
18    2020-08-26
19    2020-08-26
20    2020-08-25
21    2020-08-25
22    2020-08-25
23    2020-08-25
24    2020-08-25
25    2020-08-25
26    2020-08-25
27    2020-08-25
28    2020-08-24
29    2020-08-24
30    2020-08-24
31    2020-08-24
32    2020-08-24
33    2020-08-24
34    2020-08-24
35    2020-08-24
36    2020-08-24
37    2020-08-24
38    2020-08-24
39    2020-08-24
40    2020-08-24
41    2020-08-24
42    2020-08-24
43    2020-08-24
44    2020-08-24
45    2020-08-24
46    2020-08-24
47    2020-08-21
48    2020-08-21
49    2020-08-21
50    2020-08-21
51    2020-08-20
52    2020-08-20
53    2020-08-20
54    2020-08-20
55    2020-08-19
56    2020-08-19
57    2020-08-19
58    2020-08-19
59    2020-08-19
60    2020-08-19
61    2020-08-19
62    2020-08-17
63    2020-08-17
64    2020-08-17
65    2020-08-17
66    2020-08-17
67    2020-08-17
68    2020-08-17
69    2020-08-13
70    2020-08-12
71    2020-08-12
72    2020-08-11
73    2020-08-11
74    2020-08-11
75    2020-08-11
76    2020-08-10
77    2020-08-10
78    2020-08-10
79    2020-08-10
80    2020-08-10
81    2020-08-10
82    2020-08-07
83    2020-08-07
84    2020-08-07
85    2020-08-06
86    2020-08-06
87    2020-08-06
88    2020-08-06
89    2020-08-05
90    2020-08-04
91    2020-08-03
92    2020-08-03
93    2020-08-03
94    2020-08-03
95    2020-08-03
96    2020-08-03
97    2020-08-03
98    2020-08-03
99    2020-08-03
100   2020-08-03
101   2020-08-03
102   2020-08-03
103   2020-08-03
104   2020-08-03
Name: Date, dtype: datetime64[ns]

In [99]:
df.loc[df['Purchase Date'].isna(),'Purchase Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d 00:00:00')

In [100]:
df['Purchase Date']

0     2020-08-31 00:00:00
1     2020-08-30 17:35:00
2     2020-08-31 00:00:00
3     2020-08-30 20:03:00
4     2020-08-28 00:50:00
5     2020-08-29 12:12:00
6     2020-08-30 12:42:00
7     2020-08-31 00:00:00
8     2020-08-30 23:00:00
9     2020-08-30 23:15:00
10    2020-08-31 07:20:00
11    2020-08-30 08:39:00
12    2020-08-30 08:39:00
13    2020-08-30 23:05:00
14    2020-08-27 11:10:00
15    2020-08-27 20:25:00
16    2020-08-28 00:00:00
17    2020-08-26 11:27:00
18    2020-08-24 20:58:00
19    2020-08-25 17:27:00
20    2020-08-23 20:42:00
21    2020-08-23 16:17:00
22    2020-08-24 20:46:00
23    2020-08-24 20:43:00
24    2020-08-24 03:48:00
25    2020-08-24 11:14:00
26    2020-08-24 11:31:00
27    2020-08-24 11:14:00
28    2020-08-22 16:16:00
29    2020-08-24 00:00:00
30    2020-08-24 00:00:00
31    2020-08-24 00:00:00
32    2020-08-21 10:36:00
33    2020-08-21 10:39:00
34    2020-08-21 11:08:00
35    2020-08-21 11:32:00
36    2020-08-22 15:51:00
37    2020-08-22 15:00:00
38    2020-08-22 17:14:00
39    2020-08-22 17:52:00
40    2020-08-22 22:49:00
41    2020-08-23 09:33:00
42    2020-08-22 11:26:00
43    2020-08-22 13:29:00
44    2020-08-23 17:30:00
45    2020-08-23 10:54:00
46    2020-08-23 13:58:00
47    2020-08-21 00:00:00
48    2020-08-20 13:00:00
49    2020-08-21 00:00:00
50    2020-08-21 00:00:00
51    2020-08-19 10:46:00
52    2020-08-20 00:00:00
53    2020-08-19 11:27:00
54    2020-08-20 14:10:00
55    2020-08-18 22:02:00
56    2020-08-18 17:41:00
57    2020-08-18 17:22:00
58    2020-08-18 17:20:00
59    2020-08-19 00:00:00
60    2020-08-19 00:00:00
61    2020-08-18 14:05:00
62    2020-08-14 21:11:00
63    2020-08-17 00:00:00
64    2020-08-14 20:32:00
65    2020-08-14 20:57:00
66    2020-08-15 22:07:00
67    2020-08-15 22:55:00
68    2020-08-16 08:33:00
69    2020-08-13 07:24:00
70    2020-08-12 13:36:00
71    2020-08-12 10:31:00
72    2020-08-11 12:47:00
73    2020-08-09 19:30:00
74    2020-08-09 15:00:00
75    2020-08-11 00:00:00
76    2020-08-07 18:31:00
77    2020-08-08 22:35:00
78    2020-08-08 11:18:00
79    2020-08-08 12:43:00
80    2020-08-09 19:24:00
81    2020-08-09 19:05:00
82    2020-08-07 00:00:00
83    2020-08-06 11:09:00
84    2020-08-06 20:33:00
85    2020-08-05 18:20:00
86    2020-08-06 00:00:00
87    2020-08-06 00:00:00
88    2020-08-06 00:00:00
89    2020-08-05 00:00:00
90    2020-08-04 00:00:00
91    2020-08-01 11:52:00
92    2020-07-31 23:43:00
93    2020-08-01 11:43:00
94    2020-08-01 11:08:00
95    2020-08-01 11:08:00
96    2020-08-01 11:52:00
97    2020-08-03 00:00:00
98    2020-08-01 12:23:00
99    2020-08-02 19:11:00
100   2020-08-02 08:20:00
101   2020-08-02 13:05:00
102   2020-08-03 13:48:00
103   2020-08-03 00:00:00
104   2020-08-03 00:00:00
Name: Purchase Date, dtype: datetime64[ns]

In [101]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [102]:
df['Date']

0     2020-08-31
1     2020-08-31
2     2020-08-31
3     2020-08-31
4     2020-08-31
5     2020-08-31
6     2020-08-31
7     2020-08-31
8     2020-08-31
9     2020-08-31
10    2020-08-31
11    2020-08-31
12    2020-08-31
13    2020-08-31
14    2020-08-28
15    2020-08-28
16    2020-08-28
17    2020-08-27
18    2020-08-26
19    2020-08-26
20    2020-08-25
21    2020-08-25
22    2020-08-25
23    2020-08-25
24    2020-08-25
25    2020-08-25
26    2020-08-25
27    2020-08-25
28    2020-08-24
29    2020-08-24
30    2020-08-24
31    2020-08-24
32    2020-08-24
33    2020-08-24
34    2020-08-24
35    2020-08-24
36    2020-08-24
37    2020-08-24
38    2020-08-24
39    2020-08-24
40    2020-08-24
41    2020-08-24
42    2020-08-24
43    2020-08-24
44    2020-08-24
45    2020-08-24
46    2020-08-24
47    2020-08-21
48    2020-08-21
49    2020-08-21
50    2020-08-21
51    2020-08-20
52    2020-08-20
53    2020-08-20
54    2020-08-20
55    2020-08-19
56    2020-08-19
57    2020-08-19
58    2020-08-19
59    2020-08-19
60    2020-08-19
61    2020-08-19
62    2020-08-17
63    2020-08-17
64    2020-08-17
65    2020-08-17
66    2020-08-17
67    2020-08-17
68    2020-08-17
69    2020-08-13
70    2020-08-12
71    2020-08-12
72    2020-08-11
73    2020-08-11
74    2020-08-11
75    2020-08-11
76    2020-08-10
77    2020-08-10
78    2020-08-10
79    2020-08-10
80    2020-08-10
81    2020-08-10
82    2020-08-07
83    2020-08-07
84    2020-08-07
85    2020-08-06
86    2020-08-06
87    2020-08-06
88    2020-08-06
89    2020-08-05
90    2020-08-04
91    2020-08-03
92    2020-08-03
93    2020-08-03
94    2020-08-03
95    2020-08-03
96    2020-08-03
97    2020-08-03
98    2020-08-03
99    2020-08-03
100   2020-08-03
101   2020-08-03
102   2020-08-03
103   2020-08-03
104   2020-08-03
Name: Date, dtype: datetime64[ns]

In [104]:
payment_methods = ('POS PURCHASE Non-PIN','POS PURCHASE with PIN','Person-to-Person Transfer','VENMO')
budget_cells = {'Student Loans':'C2','Car Payment':'C3','USAA Insurance':'C4','Rent':'C5','Phone':'C6',
               'Gas':'C7','Utilities':'C8','Tolls/Uber/Metro/Parking':'C9','Dining Out':'C10','Groceries':'C11',
               'Entertainment':'C12','Tithe':'C13','Medical':'C14','401k':'C15','Maintenance Service':'C16',
               'Gym':'C17','Misc':'C18','Taxes':'C20','Paycheck':'A24','Extra':'B24'}

In [105]:
#Create new column based on presence of text in 'payment_methods' tuple, 'other' if no matches

In [ ]:
if x contains 'POS PURCHASE Non-PIN'
    y in new column = 'POS PURCHASE Non-PIN'