In [36]:
import pandas as pd

In [37]:
mar_df = pd.read_csv('AugustChecking.csv')

In [38]:
mar_df.drop([0,1], inplace=True)

In [39]:
mar_df.columns = ['Transaction Number','Date','Description','Memo','Amount Debit','Amount Credit','Balance',
                 'Check Number','Fees']

In [40]:
mar_df.drop([2], inplace=True)

In [41]:
mar_df.reset_index(drop=True,inplace=True)

In [42]:
mar_df.drop(['Check Number','Fees'],axis=1,inplace=True)

In [43]:
def debit_credit(debit,credit):
    return debit+credit

In [44]:
mar_df['Amount Debit'].fillna(0,inplace=True)

In [45]:
mar_df['Amount Credit'].fillna(0,inplace=True)

In [46]:
mar_df['Amount Debit'] = mar_df['Amount Debit'].astype(float)

In [47]:
mar_df['Amount Credit'] = mar_df['Amount Credit'].astype(float)

In [48]:
mar_df['Amount'] = debit_credit(mar_df['Amount Debit'],mar_df['Amount Credit'])

In [49]:
mar_df.drop(['Amount Debit','Amount Credit'],axis=1,inplace=True)

In [50]:
mar_df['Amount'].sum()

-803.3099999999995

In [51]:
mar_df['Amount'].min()

-3826.47

In [52]:
mar_df.drop(['Transaction Number','Date','Memo','Balance'],axis=1,inplace=True)

In [53]:
mar_df['Description'].value_counts()

INTERNET TRANSFER FROM:             10
POS PURCHASE with PINGIANT 0774     10
POS PURCHASE with PINHARRIS          9
POS PURCHASE Non-PINADVANCED         6
POS PURCHASE                         5
POS PURCHASE Non-PINARLINGTON        3
POS PURCHASE Non-PINSTARBUCKS        3
POS PURCHASE Non-PINPAYPAL           3
POS PURCHASE Non-PIN708 BOWLERO      3
POS PURCHASE Non-PINCITGO            2
POS PURCHASE Non-PINTAJ OF           2
Accenture Federa/PAYRLL              2
POS PURCHASE with PINNNT FRONT       2
VENMO/CASHOUTWALTER COLEMAN          2
INTERNET TRANSFER TO: DDXXXX5941     2
POS PURCHASE Non-PINCROWNE           2
VENMO/PAYMENTWALTER COLEMAN          2
POS PURCHASE Non-PINTHE TAILOR       1
POS PURCHASE Non-PINPP*GOOGLE A      1
POS PURCHASE Non-PINTortas y         1
POS PURCHASE Non-PINPAYPAL *EDX      1
POS PURCHASE Non-PINCOLUMBIA         1
TOM COLEMAN/BILL PAYMTCOLEMAN        1
POS PURCHASE Non-PINBEAR CHASE       1
POS PURCHASE Non-PINTAL BAGELS       1
POS PURCHASE Non-PINWONDEE SIAM      1
POS PURCHASE with PINRITE AID        1
POS PURCHASE Non-PINSQ *NAZRET       1
POS PURCHASE Non-PINUNITED AIR       1
POS PURCHASE Non-PINVIRGINIA         1
POS PURCHASE Non-PINSQ *HOLEY        1
POS PURCHASE Non-PINUBER TRIP        1
POS PURCHASE Non-PINMANHATTAN        1
VERIZON/PAYMENTRECWALTER COLEMAN     1
POS PURCHASE Non-PINSQ *CHALAIT      1
POS PURCHASE Non-PINONE STOP         1
POS PURCHASE Non-PINDISTRICT         1
POS PURCHASE Non-PINWE THE           1
POS PURCHASE with PINSY8 THE         1
FEDLOANSERVICING/STDNT               1
POS PURCHASE Non-PINAmazon web       1
POS PURCHASE Non-PINLONGWOOD         1
POS PURCHASE Non-PINLITTLE           1
DOMINION ENERGY/BILLPAYWALTER        1
POS PURCHASE with PINPENROSE         1
POS PURCHASE Non-PINPUPATELLA -      1
POS PURCHASE Non-PINBORURAMEN        1
POS PURCHASE Non-PINSQ *VAN          1
POS PURCHASE with PINTHE UPS         1
POS PURCHASE Non-PINGOOD STUFF       1
Person-to-Person                     1
ACCENTURE FEDERA/EFTWALTER J         1
Pillar DC/Pillar DCPILLAR            1
POS PURCHASE Non-PINGoFndMe*         1
Name: Description, dtype: int64

In [65]:
mar_df['Category'] = 0

In [55]:
mar_df

                         Description  Amount  Category
0      DOMINION ENERGY/BILLPAYWALTER -249.62         0
1        VENMO/PAYMENTWALTER COLEMAN -668.75         0
2    POS PURCHASE Non-PINPAYPAL *EDX -255.00         0
3         POS PURCHASE Non-PINPAYPAL   -5.75         0
4       POS PURCHASE Non-PINGoFndMe* -277.00         0
..                               ...     ...       ...
100    POS PURCHASE Non-PINARLINGTON   -1.00         0
101    POS PURCHASE Non-PINARLINGTON   -3.50         0
102  POS PURCHASE with PINGIANT 0774  -17.25         0
103    POS PURCHASE Non-PINBORURAMEN  -21.12         0
104          INTERNET TRANSFER FROM:  100.00         0

[105 rows x 3 columns]

In [62]:
category = 0

In [81]:
def statement_parse(description,category,amount):
    for x in range(len(description)):
        print("iteration: ", x)
        #Student Loans
        if(description[x] == 'FEDLOANSERVICING/STDNT' or description[x] == 'FEDLOANSERVICING/STDNT LOANWALTE'):
            category[x] = 1
        #Car payment
        #Unnecessary if
        #USAA Insurance
        elif(description[x] == 'USAA.COM PAY EXT/P&CWALTER COLEM' or description[x] == 'USAA.COM PAY EXT/P&CWALTER' or
            description[x] == 'USAA P&C/PAYMENTWALTER COLEMAN'):
            category[x] = 3
        #Rent
        elif(description[x] == 'VENMO/PAYMENTWALTER COLEMAN' and amount[x] == -668.75):
            category[x] = 4
        #Phone
        elif(description[x] == 'TOM COLEMAN/BILL PAYMTCOLEMAN'):
            category[x] = 5
        #Gas
        elif(description[x] == 'POS PURCHASE Non-PINCOLUMBIA' or description[x] == 'POS PURCHASE Non-PINCOSTCO GAS' or 
             description[x] == 'POS PURCHASE Non-PINSHELL'):
            category[x] = 6
        #Utilities
        elif(description[x] == 'WASHINGTON GAS/PAYMENTEvan' or description[x] == 'DOM ENERGYVA/UTILITYWALTER' or
            description[x] == 'VERIZON/PAYMENTRECWALTER COLEMAN' or description[x] == 'DOM ENERGYVA/UTILITYWALTER *COLE'):
            category[x] = 7
        #Tolls/Metro/Uber
        elif(description[x] == 'POS PURCHASE Non-PINARLINGTON'):
            category[x] = 8
        #Dining Out
        elif(description[x] == 'POS PURCHASE Non-PINUBER EATS' or description[x] == 'POS PURCHASE Non-PINSQ *SOL' or 
             description[x] == 'POS PURCHASE Non-PINUberAT_EATS'):
            category[x] = 9
        #Groceries
        elif(description[x] == 'POS PURCHASE with PINGIANT 0774' or description[x] == 'POS PURCHASE with PINHARRIS' or 
            description[x] == 'POS PURCHASE with PINALDI 71180'):
            category[x] = 10
        #Entertainment
        elif(description[x] == 'POS PURCHASE Non-PINPP*GOOGLE A'):
            category[x] = 11
        #Tithe 
        elif(description[x] == 'Pillar DC/Pillar DCPILLAR' or description[x] == 'POS PURCHASE Non-PINPILLAR DC' or 
             description[x] == 'Pillar DC/Pillar DCPILLAR CHURCH'):
            category[x] = 12
        #Medical
        elif(description[x] == 'POS PURCHASE Non-PINVTG*Emmaus' or description[x] == 'POS PURCHASE Non-PINLCA*LABCORP'
            or description[x] == 'POS PURCHASE Non-PINADVANCED'):
            category[x] = 13
        #401k
        #Unnecessary as it is already calculated in
        #Maintenance Service
        elif(description[x] == 'Maintenance Service Fee'):
            category[x] = 15
        #Jiu Jitsu & Gym
        elif(description[x] == 'POS PURCHASE Non-PINDISTRICT' or description[x] == 'POS PURCHASE Non-PINXSPORT'):
            category[x] = 16
        #Venmo extra
        elif((description[x] == 'VENMO/CASHOUTWALTER COLEMAN' or description[x] == 'Person-to-Person') and amount[x] > 0):
            category[x] = 18
        #Accenture payceck
        elif(description[x] == 'Accenture Federa/PAYRLL' and amount[x] > 0):
            category[x] = 19
        #Misc spending
        elif(amount[x] < 0 and description[x] != 'INTERNET TRANSFER TO: DDXXXX5941'):
            category[x] = 17
        #Misc income
        elif(amount[x] > 0 and description[x] != 'INTERNET TRANSFER FROM:'):
            category[x] = 20
    return category

In [82]:
mar_df['cat'] = statement_parse(mar_df['Description'].copy(),mar_df['Category'].copy(),mar_df['Amount'].copy())

iteration:  0
iteration:  1
iteration:  2
iteration:  3
iteration:  4
iteration:  5
iteration:  6
iteration:  7
iteration:  8
iteration:  9
iteration:  10
iteration:  11
iteration:  12
iteration:  13
iteration:  14
iteration:  15
iteration:  16
iteration:  17
iteration:  18
iteration:  19
iteration:  20
iteration:  21
iteration:  22
iteration:  23
iteration:  24
iteration:  25
iteration:  26
iteration:  27
iteration:  28
iteration:  29
iteration:  30
iteration:  31
iteration:  32
iteration:  33
iteration:  34
iteration:  35
iteration:  36
iteration:  37
iteration:  38
iteration:  39
iteration:  40
iteration:  41
iteration:  42
iteration:  43
iteration:  44
iteration:  45
iteration:  46
iteration:  47
iteration:  48
iteration:  49
iteration:  50
iteration:  51
iteration:  52
iteration:  53
iteration:  54
iteration:  55
iteration:  56
iteration:  57
iteration:  58
iteration:  59
iteration:  60
iteration:  61
iteration:  62
iteration:  63
iteration:  64
iteration:  65
iteration:  66
iteration:  67
iteration:  68
iteration:  69
iteration:  70
iteration:  71
iteration:  72
iteration:  73
iteration:  74
iteration:  75
iteration:  76
iteration:  77
iteration:  78
iteration:  79
iteration:  80
iteration:  81
iteration:  82
iteration:  83
iteration:  84
iteration:  85
iteration:  86
iteration:  87
iteration:  88
iteration:  89
iteration:  90
iteration:  91
iteration:  92
iteration:  93
iteration:  94
iteration:  95
iteration:  96
iteration:  97
iteration:  98
iteration:  99
iteration:  100
iteration:  101
iteration:  102
iteration:  103
iteration:  104

In [83]:
mar_df['cat'].value_counts()

17    57
10    19
0     12
18     3
8      3
19     2
20     1
16     1
12     1
11     1
7      1
6      1
5      1
4      1
1      1
Name: cat, dtype: int64

In [84]:
mar_df.groupby('Category')['Amount'].sum()

Category
0    -553.69
17   -249.62
Name: Amount, dtype: float64

In [85]:
mar_df[mar_df['cat'] == 17]#['Amount'].sum()

                         Description  Amount  Category  cat
0      DOMINION ENERGY/BILLPAYWALTER -249.62        17   17
2    POS PURCHASE Non-PINPAYPAL *EDX -255.00         0   17
3         POS PURCHASE Non-PINPAYPAL   -5.75         0   17
4       POS PURCHASE Non-PINGoFndMe* -277.00         0   17
5         POS PURCHASE Non-PINPAYPAL  -69.99         0   17
6     POS PURCHASE Non-PINBEAR CHASE   -8.57         0   17
7                       POS PURCHASE -111.91         0   17
9       POS PURCHASE with PINPENROSE  -26.00         0   17
10         POS PURCHASE Non-PINCITGO   -1.50         0   17
11    POS PURCHASE Non-PINSQ *NAZRET  -20.34         0   17
14      POS PURCHASE Non-PINADVANCED  -50.00         0   17
17      POS PURCHASE Non-PINADVANCED  -50.00         0   17
18        POS PURCHASE Non-PINTAJ OF  -22.09         0   17
20      POS PURCHASE Non-PINADVANCED  -50.00         0   17
21     POS PURCHASE Non-PINSTARBUCKS   -2.28         0   17
22     POS PURCHASE Non-PINSTARBUCKS   -2.28         0   17
23      POS PURCHASE Non-PINTortas y  -12.55         0   17
24   POS PURCHASE Non-PINWONDEE SIAM  -19.53         0   17
27        POS PURCHASE Non-PINLITTLE   -3.00         0   17
28    POS PURCHASE Non-PINTAL BAGELS  -16.59         0   17
29     POS PURCHASE Non-PINSQ *HOLEY   -5.23         0   17
30   POS PURCHASE Non-PINSQ *CHALAIT   -5.36         0   17
31     POS PURCHASE Non-PINMANHATTAN  -23.03         0   17
32                      POS PURCHASE   -2.00         0   17
33      POS PURCHASE with PINSY8 THE  -12.16         0   17
34       POS PURCHASE Non-PINSQ *VAN  -11.53         0   17
35                      POS PURCHASE -186.04         0   17
36     POS PURCHASE with PINRITE AID   -2.82         0   17
37    POS PURCHASE with PINNNT FRONT   -2.03         0   17
38     POS PURCHASE Non-PINUBER TRIP  -23.49         0   17
39    POS PURCHASE with PINNNT FRONT  -10.09         0   17
40      POS PURCHASE Non-PINADVANCED  -50.00         0   17
41                      POS PURCHASE  -10.00         0   17
42     POS PURCHASE Non-PINSTARBUCKS   -2.28         0   17
43    POS PURCHASE Non-PINTHE TAILOR  -19.61         0   17
48      POS PURCHASE Non-PINADVANCED  -50.00         0   17
51      POS PURCHASE Non-PINONE STOP  -32.22         0   17
52      POS PURCHASE Non-PINADVANCED  -50.00         0   17
53      POS PURCHASE Non-PINVIRGINIA   -5.00         0   17
55        POS PURCHASE Non-PINPAYPAL -139.22         0   17
62    POS PURCHASE Non-PINGOOD STUFF   -6.31         0   17
63        POS PURCHASE Non-PINTAJ OF  -24.10         0   17
70    POS PURCHASE Non-PINUNITED AIR -168.20         0   17
72      POS PURCHASE with PINTHE UPS   -2.95         0   17
73        POS PURCHASE Non-PINWE THE  -11.25         0   17
74        POS PURCHASE Non-PINCROWNE   -1.69         0   17
78         POS PURCHASE Non-PINCITGO   -1.50         0   17
79                      POS PURCHASE  -19.40         0   17
83   POS PURCHASE Non-PINPUPATELLA -  -16.18         0   17
91       VENMO/PAYMENTWALTER COLEMAN  -25.00         0   17
93    POS PURCHASE Non-PINAmazon web  -10.34         0   17
94        POS PURCHASE Non-PINCROWNE   -1.69         0   17
95      POS PURCHASE Non-PINLONGWOOD  -25.00         0   17
97   POS PURCHASE Non-PIN708 BOWLERO  -25.00         0   17
98   POS PURCHASE Non-PIN708 BOWLERO   -9.47         0   17
99   POS PURCHASE Non-PIN708 BOWLERO  -23.51         0   17
103    POS PURCHASE Non-PINBORURAMEN  -21.12         0   17

In [76]:
mar_df

                         Description  Amount  Category  cat
0      DOMINION ENERGY/BILLPAYWALTER -249.62        17   17
1        VENMO/PAYMENTWALTER COLEMAN -668.75         0    0
2    POS PURCHASE Non-PINPAYPAL *EDX -255.00         0    0
3         POS PURCHASE Non-PINPAYPAL   -5.75         0    0
4       POS PURCHASE Non-PINGoFndMe* -277.00         0    0
..                               ...     ...       ...  ...
100    POS PURCHASE Non-PINARLINGTON   -1.00         0    0
101    POS PURCHASE Non-PINARLINGTON   -3.50         0    0
102  POS PURCHASE with PINGIANT 0774  -17.25         0    0
103    POS PURCHASE Non-PINBORURAMEN  -21.12         0    0
104          INTERNET TRANSFER FROM:  100.00         0    0

[105 rows x 4 columns]

In [78]:
len(mar_df['Description'].copy())

105