In [1]:
# c'mon
import bank_functions as bf
import pandas as pd

# fully categorized and encoded
prime_df = pd.read_excel('fully_catized_encoded_2.xlsx')
ref = bf.ref_dictionaries(prime_df) # tuple
# print("ref_n2w: ", ref[0], "ref_w2n: ", ref[1])
# formats data from raw csv from Atlantic Union website
may_df = bf.clean_bank_statement_file('May21Checking.csv')
may_df = bf.encode_data(may_df)
may_df['Category_Pred'] = bf.decision_tree_new_statements(prime_df, may_df)
may_df['Cat_Self_Pred'] = bf.self_categorization(may_df, ref)
bf.upload_to_excel_budget(may_df)
# summary statistics
# bf.upload_to_excel(may_df)
# dashboard
# morph into the primary table fully categorized and fully encoded

Content           VENMO/PAYMENTWALTER COLEMAN Default
Amount                                          -25.0
Cat_Pred_Words                                   Misc
Name: 0, dtype: object
y
Content           VENMO/PAYMENTWALTER COLEMAN Default
Amount                                          -27.0
Cat_Pred_Words                                   Misc
Name: 3, dtype: object
y
Content           VENMO/PAYMENTWALTER COLEMAN Default
Amount                                          -15.0
Cat_Pred_Words                             Dining Out
Name: 8, dtype: object
y
Content           VENMO/PAYMENTWALTER COLEMAN Default
Amount                                         -99.29
Cat_Pred_Words                                   Misc
Name: 9, dtype: object
y
Content           VENMO/PAYMENTWALTER COLEMAN Default
Amount                                          -15.0
Cat_Pred_Words                                   Misc
Name: 11, dtype: object
y
Content           VENMO/PAYMENTWALTER COLEMAN Default
Amount                                           -8.0
Cat_Pred_Words                                   Misc
Name: 13, dtype: object
y
Content           THE HOME DEPOT #4640 ALEXANDRIA VA062417
Amount                                              -30.24
Cat_Pred_Words                                   Groceries
Name: 14, dtype: object
y
Content           APPLE.COM/US 800-676-2775 CA IN8800
Amount                                         -72.66
Cat_Pred_Words                                   Misc
Name: 15, dtype: object
y
Content           LEETCODE.COM HTTPSLEETCODE CA KTDFAH
Amount                                          -159.0
Cat_Pred_Words                                    Misc
Name: 16, dtype: object
y
Content           MIDAS. ARLINGTON VA 00
Amount                             -56.0
Cat_Pred_Words                      Misc
Name: 20, dtype: object
y
Content           NNT CITY KABOB 0022 ARLINGTON VA068506
Amount                                            -19.14
Cat_Pred_Words                                Dining Out
Name: 24, dtype: object
y
Content           TST* TORTAS Y TACOS LA ARLINGTON VA310961
Amount                                               -13.15
Cat_Pred_Words                                   Dining Out
Name: 26, dtype: object
y
Content           VZWRLSS*BILL PAY VE 800-9220204 CA367118
Amount                                              -79.12
Cat_Pred_Words                                     Medical
Name: 27, dtype: object
y
Content           THE UPS STORE 4832 703-8203300 VA757409
Amount                                             -22.23
Cat_Pred_Words                                 Dining Out
Name: 35, dtype: object
y
Content           DOMINO'S 4341 703-734-7080 VA 547982
Amount                                          -19.77
Cat_Pred_Words                              Dining Out
Name: 36, dtype: object
y
Content           DOMINO'S 4341 703-734-7080 VA 547982
Amount                                          -34.51
Cat_Pred_Words                                    Misc
Name: 37, dtype: object
y
Content           DOMINO'S 4341 703-734-7080 VA 547982
Amount                                          -17.47
Cat_Pred_Words                              Dining Out
Name: 38, dtype: object
y
Content           INOVA - HEALTH CARE SER FALLS CHURCH VA771520
Amount                                                    -50.0
Cat_Pred_Words                                          Medical
Name: 41, dtype: object
y
Content           TST* TORTAS Y TACOS LA ARLINGTON VA648915
Amount                                               -14.21
Cat_Pred_Words                                   Dining Out
Name: 42, dtype: object
y
Content           PAYPAL *MANAGEMENTS 866-729-5327 VAIN8800
Amount                                                -50.0
Cat_Pred_Words                                      Medical
Name: 43, dtype: object
y
Content           INTUIT *TURBOTAX CL.INTUIT.COM CAIN9000
Amount                                             -175.0
Cat_Pred_Words                                       Misc
Name: 44, dtype: object
y
Content           TST* TORTAS Y TACOS LA ARLINGTON VA643382
Amount                                               -17.11
Cat_Pred_Words                                Entertainment
Name: 46, dtype: object
y
Content           CKE*TOASTIQUE WASHINGTO WASHINGTON DC436559
Amount                                                 -22.44
Cat_Pred_Words                                     Dining Out
Name: 48, dtype: object
y
Content           INOVA - HEALTH CARE SER FALLS CHURCH VA771520
Amount                                                    -50.0
Cat_Pred_Words                                          Medical
Name: 55, dtype: object
y
Content           TST* TORTAS Y TACOS LA ARLINGTON VA202710
Amount                                               -27.08
Cat_Pred_Words                                         Misc
Name: 60, dtype: object
y
Content           CKE*THE WHITE SPOT ATLA ATLANTA GA552585
Amount                                              -18.04
Cat_Pred_Words                                        Misc
Name: 64, dtype: object
y
Content           TST* GUAJIRO S CHARLOTTESVIL VA950102
Amount                                           -18.98
Cat_Pred_Words                                     Misc
Name: 65, dtype: object
y
Content           MELS CAFE CHARLOTTESVIL VA 751944
Amount                                       -12.68
Cat_Pred_Words                                 Misc
Name: 66, dtype: object
y
Content           FARM BELL KITCHEN CHARLOTTESVIL VAINB600
Amount                                               -4.02
Cat_Pred_Words                               Entertainment
Name: 67, dtype: object
y

In [2]:
bf.upload_to_excel_budget(may_df)

BadZipFile: File is not a zip file

In [2]:
new_summary = may_df.groupby('Cat_Self_Pred').agg({'Amount':'sum'})
new_summary.loc[new_summary['Amount'] < 0, 'Portion_of'] = new_summary[new_summary['Amount'] < 0].apply(lambda x: 100 * x / float(x.sum()))['Amount']
new_summary.loc[new_summary['Amount'] > 0, 'Portion_of'] = new_summary[new_summary['Amount'] > 0].apply(lambda x: 100 * x / float(x.sum()))['Amount']
new_summary['Portion_of'] = new_summary['Portion_of'].apply(lambda x: "{0:.2f}%".format(x))

In [3]:
new_summary

                           Amount Portion_of
Cat_Self_Pred
Dining Out                -492.97     20.42%
Entertainment               -4.99      0.21%
Extra                      177.32      4.11%
Gas                       -102.67      4.25%
Groceries                 -336.09     13.92%
Gym                        -21.95      0.91%
Medical                   -100.00      4.14%
Misc                      -637.17     26.39%
Pay Check                 4037.43     93.54%
Phone                      -79.12      3.28%
Tithe                     -310.97     12.88%
Tolls/Uber/Metro/Parking    -5.95      0.25%
USAA Insurance            -166.05      6.88%
Utilities                 -156.29      6.47%
Venmo Extra                101.70      2.36%

In [11]:
may_df[may_df['Category'] == 'Rent']

Empty DataFrame
Columns: [Purchase Date, Content, Amount, Category, Payment_Method, Purchase Time, Verification Date, First_Word, Category_Pred, Cat_Self_Pred, PD_year, sin_PD_month, cos_PD_month, sin_PD_day, cos_PD_day, PT_total_seconds, sin_PT_total_seconds, cos_PT_total_seconds, VD_year, sin_VD_month, cos_VD_month, sin_VD_day, cos_VD_day, Payment_Method_Cat, 0, 1, 2, 3]
Index: []

[0 rows x 28 columns]

In [2]:
may_df.groupby('Cat_Self_Pred').agg({'Amount':'sum'})

                           Amount
Cat_Self_Pred
Dining Out                -492.97
Entertainment               -4.99
Extra                      177.32
Gas                       -102.67
Groceries                 -336.09
Gym                        -21.95
Medical                   -100.00
Misc                      -637.17
Pay Check                 4037.43
Phone                      -79.12
Tithe                     -310.97
Tolls/Uber/Metro/Parking    -5.95
USAA Insurance            -166.05
Utilities                 -156.29
Venmo Extra                101.70

In [3]:
gb_df = may_df.groupby('Cat_Self_Pred').agg({'Amount':'sum'})

In [24]:
gb_df['Portion_of'] = 0.0
gb_df.drop('Portion_of',axis=1, inplace=True)

In [18]:
gb_df.loc[gb_df['Amount'] < 0,'Portion_of']

Cat_Self_Pred
Dining Out                  0.0
Entertainment               0.0
Gas                         0.0
Groceries                   0.0
Gym                         0.0
Medical                     0.0
Misc                        0.0
Phone                       0.0
Tithe                       0.0
Tolls/Uber/Metro/Parking    0.0
USAA Insurance              0.0
Utilities                   0.0
Name: Portion_of, dtype: float64

In [29]:
gb_df[gb_df['Amount'] < 0].apply(lambda x: 100 * x / float(x.sum()))['Amount']

Cat_Self_Pred
Dining Out                  20.419432
Entertainment                0.206692
Gas                          4.252719
Groceries                   13.921266
Gym                          0.909196
Medical                      4.142125
Misc                        26.392375
Phone                        3.277249
Tithe                       12.880765
Tolls/Uber/Metro/Parking     0.246456
USAA Insurance               6.877998
Utilities                    6.473727
Name: Amount, dtype: float64

In [34]:
gb_df.loc[gb_df['Amount'] < 0,'Portion_of'] = gb_df[gb_df['Amount'] < 0].apply(lambda x: 100 * x / float(x.sum()))['Amount']
gb_df.loc[gb_df['Amount'] > 0,'Portion_of'] = gb_df[gb_df['Amount'] > 0].apply(lambda x: 100 * x / float(x.sum()))['Amount']

In [37]:
gb_df['Portion_of'] = gb_df['Portion_of'].apply(lambda x: "{0:.2f}%".format(x))

In [40]:
gb_df['Total'] = gb_df['Amount'].sum()

1902.23

In [67]:
ggg = gb_df.index.tolist()

In [69]:
ggg.append('Total')

In [70]:
ggg

['Dining Out',
 'Entertainment',
 'Extra',
 'Gas',
 'Groceries',
 'Gym',
 'Medical',
 'Misc',
 'Pay Check',
 'Phone',
 'Tithe',
 'Tolls/Uber/Metro/Parking',
 'USAA Insurance',
 'Utilities',
 'Venmo Extra',
 'Total']

In [57]:
gb_df.index

Index(['Dining Out', 'Entertainment', 'Extra', 'Gas', 'Groceries', 'Gym', 'Medical', 'Misc', 'Pay Check', 'Phone', 'Tithe', 'Tolls/Uber/Metro/Parking', 'USAA Insurance', 'Utilities', 'Venmo Extra'], dtype='object', name='Cat_Self_Pred')

In [52]:
pd.DataFrame({'Total':gb_df['Amount'].sum()}, columns=['Amount','Portion_of'])

Empty DataFrame
Columns: [Amount, Portion_of]
Index: []

In [73]:
import numpy as np

In [75]:
gb_df

                           Amount Portion_of
Cat_Self_Pred
Dining Out                -492.97     20.42%
Entertainment               -4.99      0.21%
Extra                      177.32      4.11%
Gas                       -102.67      4.25%
Groceries                 -336.09     13.92%
Gym                        -21.95      0.91%
Medical                   -100.00      4.14%
Misc                      -637.17     26.39%
Pay Check                 4037.43     93.54%
Phone                      -79.12      3.28%
Tithe                     -310.97     12.88%
Tolls/Uber/Metro/Parking    -5.95      0.25%
USAA Insurance            -166.05      6.88%
Utilities                 -156.29      6.47%
Venmo Extra                101.70      2.36%

In [77]:
gb_df_test = gb_df.append({'Amount':gb_df['Amount'].sum()}, ignore_index=True)

In [78]:
gb_df_test.set_index(ggg)

KeyError: "None of ['Dining Out', 'Entertainment', 'Extra', 'Gas', 'Groceries', 'Gym', 'Medical', 'Misc', 'Pay Check', 'Phone', 'Tithe', 'Tolls/Uber/Metro/Parking', 'USAA Insurance', 'Utilities', 'Venmo Extra', 'Total'] are in the columns"